.greeting-container {
  height: 100%;
}

.greeting-message {
  font-size: 4rem;
}

.specialty {
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
